
footer .container {
	width: 1200px;
	margin: 0 auto;
	padding: 130px 0!important;
}

footer .social_bookmarks {
	position: absolute !important;
	top: 58px;
	left: 130px;
	li {
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 0 !important;
		a {
			color: $white !important;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 0 !important;
			font-size: 20px;
		}
		&:hover a {
			background-color: transparent !important;
		}
	} 
}

#hm-copyright {
	color: $white;
	font-size: 30px;
	font-family: 'sofia_light';
	line-height: 34px;
	
	span {
		display: block;
		font-size: 20px;
	}
}

#footer-social {
	position: relative;
	overflow: hidden;
	float: right;
	width: 451px;
	height: 140px;
	background: url('../images/bgr-footer.png') top left no-repeat;
}