


.hm-slider {
	padding: 80px 0;
	.avia-slideshow-inner li img {
		width: auto !important;
	}
	.avia-slideshow-dots a {
		opacity: 1 !important;
		background-color: $white;
		border: 1px solid $color_cararra_approx;
		width: 16px;
		height: 16px;
		&.active {
			background-color: $color_roman_approx;
			border-color: $color_roman_approx;
		}
	} 
	.avia-slideshow-arrows a {
		&:before {
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 50%;
			// @include border-radius(50%);
			background-color: $white;
			border: 3px solid $color_cararra_approx;
		}
		&:hover:before {
			background-color: $color_roman_approx;
			border-color: $color_roman_approx;
		}
	}
}
.hm-slider-tv {
	background: url('../images/slider-tv.png') center center no-repeat;
	height: 650px;
	padding-top: 115px;
	padding-bottom: 0;
}
.hm-stats {
	margin: 50px 0 !important;
	.avia-animated-number-icon {
		display: block;
		width: 96px;
		height: 155px;
		text-indent: -9999px;
		margin: 0 auto;
	}
	.avia-no-number {
		color: $color_martinique_approx;
		opacity: 1;
	}
	.avia-single-number {
		color: $color_martinique_approx;
		opacity: 1;
	}
	&.hm-raised .avia-animated-number-icon {
		background: url('../images/ico-raised.png') center top no-repeat;
	}
	&.hm-rate .avia-animated-number-icon {
		background: url('../images/ico-rate.png') center top no-repeat;
	}
	&.hm-proof .avia-animated-number-icon {
		background: url('../images/ico-proof.png') center top no-repeat;
	}
}
#top .hm-slider .avia-slideshow-arrows a {
	width: 66px;
	height: 66px;
	line-height: 66px;
	opacity: 1;
	color: $color_roman_approx;
	&:hover {
		color: $white;
	}
}