body {
	h1, h2, h3 {
		font-family: 'sofia_regular';
		font-weight: normal;
	}

	.av-special-heading {
		h3.av-special-heading-tag {
			color: $color_martinique_approx;
			font-size: 40px;
			margin: 1em 0;
		}
	}

	.av-subheading p:last-child {
	    margin-bottom: 30px;
	}
	


	.hm-hello {
		h1 {
			font-size: 160px;
			text-transform: capitalize !important;
		}

		h3 {
			font-size: 30px;
		}

		p {
			font-size: 20px;
			font-family: 'sofia_light';
		}
	}

	.results,
	.learnings {
		.avia-animated-number {
			span {
				color: $color_martinique_approx;
				font-family: 'sofia_regular';
				font-weight: 300;
				opacity: 1;
			}

			.heading {
				font-size: 55px;
				line-height: 55px;
				// letter-spacing: 1px;
			}

			p {
				font-family: 'sofia_light';
				font-size: 25px;
				line-height: 33px;
			}
		}

		.avia_textblock p:last-child {
		    margin-bottom: 30px;
		}
	}
}

