//colors
$white: #ffffff;
$color_burnt_sienna_approx: #ee6558;
$color_roman_approx: #ec6457;
$color_cararra_approx: #efefeb;
$color_martinique_approx: #35354c;
$color_pampas_approx: #f1f1ed;
$color_keppel_approx: #3fb69e;
$color_curious_blue_approx: #169eda;
$color_jungle_green_approx: #38a38e;
$color_keppel_90_approx: rgba(62, 181, 158, 0.9);
$color_black_haze_approx: #f7f7f5;
$black_60: rgba(0, 0, 0, 0.6);

